.navbar{
    position: fixed;
    top:0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #111;
}
.logo {
    width: 150px;  /* Adjust the width of the logo */
    height: auto;  /* Maintain the aspect ratio */
    position: absolute;  /* Positioning the logo */
    top: 20px;  /* Adjust the distance from the top */
    left: 20px;  /* Adjust the distance from the left */
    z-index: 10;  /* Ensure the logo appears on top of other elements */
  }
  .avatar{
    position: fixed;
    right: 20px;
    width: 30px;
}
  