.row {
  margin-left: 20px;
}

.posters {
  display: flex;
  overflow-x: scroll;
  padding: 20px;
  scrollbar-width: none;
}

.posters::-webkit-scrollbar {
  display: none;
}

.poster img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out;
}

.poster img:hover {
  transform: scale(1.1);
}
